@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$site-width: 1200px;
$hero-width: 1600px;
$profile-image-width: 300px;

$gutter: 8px;
$gray: #333;
$primary: #1977F3;
$primary-light: #EEF5FE;

$small-breakpoint: 500px;
$medium-breakpoint: 960px;

.app {
  * {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: $primary-light;

  .brand {
    p {
      font-style: italic;
      margin: 5px;
    }
    h2 {
      padding: 0px;
      margin: 5px;
      font-weight: 400;
    }
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      padding: 10px;
      
      a {
        text-decoration: none;
        color: black;
        cursor: not-allowed;
      }
    }
  }

  .about {
    background-color: $primary;
    padding: 10px;
    color: white;
    border-radius: 5px;
  }

  @media only screen and (max-width: $small-breakpoint) {
    .brand p {
      display: none;
    }
  }
}

.heroImg {
  display: block;
  margin: 0px auto 20px;
  width: 90%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
  .headshot {
    height: $profile-image-width;
    width: $profile-image-width;
    border-radius: 150px;
    margin: 15px;
  }

  .postContainer {
    width: 600px;
    padding: 20px;
  }

  @media only screen and (max-width: $small-breakpoint) {
    .headshot {
      height: 150px;
      width: 150px;
      border-radius: 75px;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: $primary;
  color: white;
  margin-top: 50px;
}


